/* definindo variáveis para cores */
:root {
    --primary: #C4F7A1;
    --secondary: #5C573E;
    /* tertiary não é um padrão do Bootstrap, mas pode ser adicionado! */
    --tertiary: #A5B452;
    --success: #9BA7C0;
    --info: #F4EFF0;
    --warning: #E55812;
    --danger: #E55812;
}

/* sobrescrevendo classes padrão do Bootstrap */
/* a marcação !important dá um peso maior a regra, sobrescrevendo regras prévias */
.bg-primary,
.btn-primary {
    background-color: var(--primary) !important;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary,
.btn-tertiary {
    background-color: var(--tertiary) !important;
}

.bg-success,
.btn-success {
    background-color: var(--success) !important;
}

.bg-info,
.btn-info {
    background-color: var(--info) !important;
}

.bg-warning,
.btn-warning {
    background-color: var(--warning) !important;
}

.bg-danger .btn-danger {
    background-color: var(--danger) !important;
}

/*Cor padrão do fundo*/
body{
    background-color: #C4F7A1
}
/*Fontes personalizadas*/
.grandstander {
    font-family: "Grandstander", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.happy-monkey-regular {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/*Estilo cards index e buscador*/
.card-title {
    font-family: "Grandstander", system-ui;
    font-weight: 800;
    font-style: normal;
}

.card-text,
address,
#buscador {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

.btn-secondary,
h3 {
    font-family: "Grandstander", system-ui;
    font-weight: 400;
    font-style: normal;
}
/*Rodapé*/
address {
    color: #F4EFF0;
}
.ftr {
    background-image: url(imagens/wp6654577-2123060665.jpg);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
}

/*Roller marcas*/

.content {
    width: 100vw;
    min-height: 100vh;
}

.content .container {
    padding-top: 30px;
    padding-bottom: 20px;
    box-shadow: 2px 15px 20px #1f1f1f10, -2px -8px 20px #1f1f1f1a;
}


.container .rollers {
    flex: 0 0 230px;
}

.container .rollers .wrapper {
    position: relative;
    width: 1800px;
    height: 200px;
    margin: 0 0 20px 0;
    flex: 0 0 auto;
}

.container .rollers .wrapper .items-container {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container .rollers .wrapper .items-container.roll-LL {
    animation-name: roll;
}

.container .rollers .wrapper .items-container.reverse-roll-LL {
    animation-name: roll-clockwise;
    left: -100%;
}



.content-center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}
@keyframes roll {
    0% {
        left: 0%;
    }

    100% {
        left: -100%;
    }
}

@keyframes roll-reverse {
    0% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes roll-clockwise {
    0% {
        left: -100%;
    }

    100% {
        left: 0%;
    }
}

@keyframes roll-reverse-clockwise {
    0% {
        left: 0%;
    }

    100% {
        left: 100%;
    }
}

.container .rollers .wrapper .items-container .item {
    flex: 1 1 200px;
    min-width: 0;
    margin: 20px;
}

.container .rollers .wrapper .items-container .item .company {
    filter: grayscale(100%);
    opacity: 0.2;
    width: 100%;
    object-fit: contain;
}

.container .rollers .wrapper .items-container .item .company:hover {
    filter: grayscale(0%);
    opacity: 1;
    cursor: pointer;
}

.container img {
    vertical-align: middle;
}

@media (max-width: 575.5px) {
    .content {
        padding: 20px;
    }

    .content .container {
        padding: 20px;
    }

    .h3 {
        font-size: calc(1.1rem + .6vw);
    }

    .fs-5 {
        font-size: 0.9rem !important;
    }

    .container .rollers .wrapper .items-container .item .company {
        opacity: 0.4;
    }
}

/*detalhes carro*/
#infocar {
    background-image: url(imagens/radiatorspringsop.png);
    background-repeat: no-repeat;
    background-size: cover;

}

p {
    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

/*Ícones redes autoras*/
.icon-link{
    text-decoration: none;
}

/*Parceiros*/
#parca {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.card1 {
    position: relative;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 2s
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    overflow: hidden;
    border-radius: 10px;
    z-index: 5
}

.circle::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5C573E;
    clip-path: circle(120px at 50% 50%);
    transition: 0.9s;
    z-index: 10
}

.card1:hover .circle::before {
    clip-path: circle(400px at 50% 50%)
}

.card1 img {
    z-index: 10;
    position: absolute;
    transition: 0.5s;
}

.card1:hover img{
    height: auto;
    width: 300px;
    top: -20%;
    right: -20%
}

#cardb:hover img{
    height:auto;
    width: 200px;
    top: -10%;
    right: -10%
}

.card1 .content {
    position: absolute;
    opacity: 0;
    color: #fff;
    top: 40px;
    width: 200px;
    left: 20px;
    z-index: 20;
    transition: 0.4s
}

.content p {
    font-size: 13px
}

.card1:hover .content {
    opacity: 1
}